Source: android-platform-frameworks-native
Section: devel
Priority: optional
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Hans-Christoph Steiner <hans@eds.org>,
           Laszlo Boszormenyi (GCS) <gcs@debian.org>,
           Kai-Chung Yan <seamlikok@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://android.googlesource.com/platform/frameworks/native
Vcs-Git: https://anonscm.debian.org/git/android-tools/android-platform-frameworks-native.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/android-platform-frameworks-native.git

Package: android-platform-frameworks-native-headers
Section: libdevel
Architecture: all
Depends: ${misc:Depends}
Description: Headers of android-platform-frameworks-native
 This package contains headers in include/android in platform/frameworks/native.