#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

UPSTREAM_TAG = android-$(subst +,_,$(DEB_VERSION_UPSTREAM))

%:
	dh $@

override_dh_auto_build:
	make -f debian/libETC1.mk
	dpkg-gensymbols -pandroid-libetc1 -v0 -elibETC1.so.0 -Odebian/android-libetc1.symbols

override_dh_auto_clean:
	dh_auto_clean
	make clean -f debian/libETC1.mk
	$(RM) debian/*.symbols

get-orig-source: $(UPSTREAM_TAG).tar.gz
	mk-origtargz --repack --compression xz $<

$(UPSTREAM_TAG).tar.gz:
	wget https://android.googlesource.com/platform/frameworks/native/+archive/$(UPSTREAM_TAG).tar.gz