#!/usr/bin/make -f

export VERSION=$(shell dpkg-parsechangelog --count 1 | grep ^Version: | sed -e 's/Version: //g' -e 's/[-][0-9]*//g')
export TRIPLET=$(DEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/android
